$root-font-size             : 16px;
$gap                        : 30px;
$base-color                 : #ffffff;
$primary-color              : #FF5B5A;
$muted-text-color           : #999999;
$pricing-muted-color        : #9B9B9B;
$pricing-bg                 : #F5F5F5;
$item-media-circle-bg       : #E7E7E7;
$item-media-circle-shadow   : #F5F5F5;
$bg-grad-01                 : #348AC7;
$bg-grad-02                 : #7574C0;

$custom-google-font         : 'Open Sans', sans-serif;
$item-border-radius         : 20px;

$item-media-size            : 90px;
$item-media-circle          : 100px;
$item-media-shadow-size     : 10px;
$list-item-height           : 30px;
$button-height              : 44px;
$heading-letter-spacing     : 5px;